html, body {
  height: 100%;
  width: 100%;
    background-color: black;
  background: url("https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1172&q=80");
/* background-size:100%; */
  background-size: 100% 100%;
  overflow: hidden;
  
}
#clock{
  display:flex;
  gap:1rem;
  font-size: 10vw;
  height: 90vh;
  justify-content: center;
  align-items: center;
  margin:auto;
font-family: 'Unbounded', cursive;
  color: white;
}

#ampm{
  font-size: 3vw;
}